.registration {
  max-width: 400px;

  &__error {
    margin: 10px 0;
  }

  &__error-label {
    color: tomato;
    padding: 6px 0;
  }

  &__fields-container {
    display: flex;
    flex-direction: column;
  }

  &__button-container {
    text-align: right;
  }
}
